target/
.checkstyle
.classpath
.project
.settings/
/swid-builder/swid.cbor
.pmd
.pmdruleset.xml


swid-builder/firmware-coswid.cbor
swid-builder/swid-cbor.cbor
swid-builder/swid-cbor.xml
swid-builder/test.cbor
/swidval/svrl-result
/swidval/test-results
