target/
.checkstyle
.classpath
.project
.settings/
.pmd
.pmdruleset.xml
.factorypath
/swid-builder/firmware-coswid.cbor
/swid-builder/swid-cbor.cbor
/swid-builder/swid-cbor.xml
/swid-builder/test.cbor
/swid-builder/swid.cbor
/swidval/svrl-result
/swidval/test-results
/swidval/schematron-results
/swidval-webapp/build.out
/velocity.log